.ipynb_checkpoints
Iris.csv
all_upwork_jobs_2024-02-07-2024-03-24.csv
all_upwork_jobs_2024-03-24-2024-05-21.csv
creditcard.csv
mibici_2014-2024.csv
nomenclature_2024.csv
youtube_channels_1M_clean.csv
database.sqlite
